

.circular-progress-bar {
    position: relative;
    margin: 0 auto;
    background: lightblue;
}

.progress-percentage, .progress-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0px 60px;    
}

.progress-percentage {
	font-size: 60px;
    transform: translate(-50%, -85%);
    
}

.progress-text {
    transform: translate(-50%, 0%);
    color: #585858;
    font-size: 21px;
    
}