/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 Sep, 2017, 1:40:54 PM
    Author     : reak-1
*/


.reak_timmer_area
{
        
    
}

.reak_timmer_footer
{
        color: #A9A9B1;    
}
.flip_reak_container
{
    margin-left: 260px;
}

@media only screen and (max-width: 767px){
    .flip_reak_container
    {
        margin-left: 0px;
    }
}