<div class="gjs-row">
    <div class="gjs-cell">
    </div>
    <div class="gjs-cell">
    </div>
  </div>
  <div id="i9gaw" class="countdown">
    <span data-js="countdown" class="countdown-cont"><div class="countdown-block">
      <div data-js="countdown-day" class="countdown-digit">
      </div>
      <div class="countdown-label">days
      </div>
      </div><div class="countdown-block">
      <div data-js="countdown-hour" class="countdown-digit">
      </div>
      <div class="countdown-label">hours
      </div>
      </div><div class="countdown-block">
      <div data-js="countdown-minute" class="countdown-digit">
      </div>
      <div class="countdown-label">minutes
      </div>
      </div><div class="countdown-block">
      <div data-js="countdown-second" class="countdown-digit">
      </div>
      <div class="countdown-label">seconds
      </div>
      </div></span>
    <span data-js="countdown-endtext" class="countdown-endtext"></span>
  </div>
  <div id="iwfb6">
    <div id="ivct1">
    </div>
  </div>
  <a id="i4mkk"></a>
  <img id="i5do5"/>
  <a id="imzyf">Link</a>
  <video allowfullscreen="allowfullscreen" id="iic9d" src="img/video2.webm" controls="controls">
  </video>
  <div id="i1v26">Insert your text here
  </div>
  <script>var items = document.querySelectorAll('#i9gaw');
    for (var i = 0, len = items.length; i < len; i++) {
      (function(){
        var e=new Date("").getTime(),n=this.querySelector("[data-js=countdown]"),t=this.querySelector("[data-js=countdown-endtext]"),o=this.querySelector("[data-js=countdown-day]"),a=this.querySelector("[data-js=countdown-hour]"),d=this.querySelector("[data-js=countdown-minute]"),s=this.querySelector("[data-js=countdown-second]"),l=this.gjs_countdown_interval;
        l&&l&&clearInterval(l);
        var r=function(e,n,t,l){
          o.innerHTML=e<10?"0"+e:e,a.innerHTML=n<10?"0"+n:n,d.innerHTML=t<10?"0"+t:t,s.innerHTML=l<10?"0"+l:l}
        ,i=function(){
          var o=(new Date).getTime(),a=e-o,d=Math.floor(a/864e5),s=Math.floor(a%864e5/36e5),l=Math.floor(a%36e5/6e4),i=Math.floor(a%6e4/1e3);
          r(d,s,l,i),a<0&&(clearInterval(c),t.innerHTML="EXPIRED",n.style.display="none",t.style.display="")};
        if(e){
          var c=setInterval(i,1e3);
          this.gjs_countdown_interval=c,t.style.display="none",n.style.display="",i()}
        else r(0,0,0,0)}
       .bind(items[i]))();
    }
    var items = document.querySelectorAll('#iwfb6');
    for (var i = 0, len = items.length; i < len; i++) {
      (function(){
        console.log(this);
        this.addEventListener('click', function(e) {
          console.log('clicked');
        }
                             )}
       .bind(items[i]))();
    }
  </script>
  <style>
  * { box-sizing: border-box; } body { margin: 0; } .gjs-row{ display:table; padding-top:10px; padding-right:10px; padding-bottom:10px; padding-left:10px; width:100%; } .gjs-cell{ width:8%; display:table-cell; height:75px; } .countdown{ text-align:center; font-family:Helvetica, serif; } .countdown-block{ display:inline-block; margin-top:0px; margin-right:10px; margin-bottom:0px; margin-left:10px; padding-top:10px; padding-right:10px; padding-bottom:10px; padding-left:10px; } .countdown-digit{ font-size:5rem; } .countdown-endtext{ font-size:5rem; } .countdown-cont{ display:inline-block; } #iwfb6{ padding:25px; } #ivct1{ padding:10px; } #i4mkk{ display:inline-block; padding:5px; min-height:50px; min-width:50px; } #iic9d{ height:350px; width:615px; } #i5do5{ color:black; } #imzyf{ color:#d983a6; } #i1v26{ padding:10px; } @media (max-width: 768px){ .gjs-cell{ width:100%; display:block; } .gjs-cell{ width:100%; display:block; } .gjs-cell{ width:100%; display:block; } } 
  </style>