/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: 'Open Sans', sans-serif;
	background:#FFF;
        overflow-y: hidden;
}

.kkred
{
    border: 1px red solid;
}
.reak_header
{
    
    padding: 5px;
    background-color: #000;    
}

.reak_header_left
{
    font-size: 25px;
    color: #fff;
}
.reak_header_left span
{
    font-size: 19px;
    
}

.reak_content
{
    background-image: url("../images/7.jpg");
    
    height: 100%; 
    
}
.reak_content h2
{
    	font-size: 1.4em;
	color: #4C4C4C;
	font-weight: 300;
	line-height: 1.3em;
	margin: 15px 0px 0.4em 0;
	display: block;
        text-align: center;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;        
}
.reak_content p
{
        font-size: 1em;
	font-weight: 300;
	color: #4C4C4C;
	line-height:1.5em;
        text-align: center;
}

.reak_content p span
{
    color: red;
}

.reak_content p.reak_protect
{
    text-align: justify;
    padding: 5px;
    font-size: 9px;
}

.reak_content img
{
    
    width: 125px;
}

@media only screen and (max-width:480px) and (min-width:320px) 
{
    .reak_content
    {
        
        height: 434px;
    }
      .reak_content h2
    {
        
        margin-bottom: 18px;
    }
    .reak_content img
{
    
    width: 140px;
    margin-bottom: 8px;
}
}

@media only screen and (max-width: 640px) and (min-width:360px) 
{
     .reak_content
    {        
        height: 594px;
        
    }
     .reak_content h2
    {        
        font-size: 1.6em;
        margin-top: 32px;
        margin-bottom: 32px;
        
    }
     .reak_content p.reak_protect
     {
         text-align: justify;
    padding: 5px;
    font-size: 15px;
     }
    .reak_content img
{
    
    width: 140px;
    margin-bottom: 15px;
}
}

@media only screen and (max-width: 1024px) and (min-width:640px) 
{
       .reak_content
    {        
    background-image: url("../images/7.jpg");     
    background-size: contain;
        
    }    
    .reak_content h2
    {        
        font-size: 2em;
        margin-top: 32px;
        margin-bottom: 32px;        
    }
    .reak_content p
    {        
        font-size: 1.5em;
        
        margin-bottom: 32px;        
    }
     .reak_content p.reak_protect
     {
    text-align: center;
    padding: 5px;
    font-size: 25px;
     }
    .reak_content img
{
    
    width: 240px;
    margin-bottom: 35px;
}
}