/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 Apr, 2018, 5:10:39 PM
    Author     : kartik
*/



.right_custom
{
    border: 1px #ccc solid;
    margin-top: 50px;
    padding: 12px;
}

body, html {
    height: 100%;
    margin: 0;
}

.reak_bg {
    border: 1px #ccc solid;
    /* The image used */
    background: url("../blank.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    height: 400px;
    width: 400px;
    background-position: center;
    background-repeat: no-repeat;         
}


@font-face {
  font-family: 'MyWebFont';
  src: url('../XXX.ttf') format('truetype');
}

#desired_text
{    
    margin: 0px 28px 0px 28px;    
    color: #fff;    
    text-align: center;
    font-family: MyWebFont;
    
    
}