/* Middle Logo Animation */   

.middle {
        
    position: relative;
    -webkit-animation: mymove_two 3s;  /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation: mymove_two 3s;
    animation-fill-mode: forwards;
    }

    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes mymove_two {
        from {top: 350%;}
        to {top: 4%;}
    }

    @keyframes mymove_two {
        from {top: 350%;}
        to {top: 4%;}
    }    

    /* Left Logo Animation */       
    .left {    
    margin-top: 20%;
    margin-left: 20%;    
    position: relative;
    -webkit-animation: mymove_left 3s;  /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation: mymove_left 3s;
    animation-fill-mode: forwards;
    }

    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes mymove_left {
        0% {
        transform: translatex(0px) translatey(0px)
        }
        100% {
            transform: translatex(-100px) translatey(-100px);
        }
        
    }

    @keyframes mymove_left {
        0% {
        transform: translatex(0px) translatey(0px)
        }
        100% {
            transform: translatex(-100px) translatey(-100px);
        }
    }
    
    /* right Logo Animation */   
    .right {    
    margin-top: 20%;
    margin-right: 20%;    
    position: relative;
    -webkit-animation: mymove_right 3s;  /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation: mymove_right 3s;
    animation-fill-mode: forwards;
    }

    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes mymove_right {
        0% {
        transform: translatex(0px) translatey(0px)
        }
        100% {
            transform: translatex(100px) translatey(-100px);
        }
    }

    @keyframes mymove_right {
        0% {
        transform: translatex(0px) translatey(0px)
        }
        100% {
            transform: translatex(100px) translatey(-100px);
        }
    }
    .center_para
    {
        text-align: justify;
        letter-spacing: normal;
        line-height: 1.4;
        font-size: 17px;
        font-family: sans-serif;
        -webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 7s; /* Firefox < 16 */
        -ms-animation: fadein 7s; /* Internet Explorer */
        -o-animation: fadein 7s; /* Opera < 12.1 */
        animation: fadein 7s;
    }
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Opera < 12.1 */
    @-o-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    .bottom-text {
        position: fixed;
        padding: 5%;
        bottom: 0;
        margin: 15px;        
    }

    /* Styling For Porfolio Pages */
    .main_div
    {
        border: 0px #2C3E50 solid;             
        background: #ecedef;
    }
    .one_third
    {
        background: #2C3E50;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        height: 41.7em;        
    }
    .one_third p
    {
        color: #fff;
        text-align: justify;
        letter-spacing: normal;
        line-height: 1.4;
        font-size: 15px;
        font-family: sans-serif;
        -webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 7s; /* Firefox < 16 */
        -ms-animation: fadein 7s; /* Internet Explorer */
        -o-animation: fadein 7s; /* Opera < 12.1 */
        animation: fadein 7s;
    }
    .two_third
    {
        
    }
    .two_third h2
    {
        color: #2C3E50;
    }
    .two_third p
    {
        text-align: justify;
        letter-spacing: normal;
        line-height: 1.4;
        font-size: 14px;
        font-family: sans-serif;
    }
    .input_panel label
    {
        font-weight: normal;
        color: #2C3E50;
    }
    .form-control {        
        padding: 12px 20px !important;
        border-radius: 0px !important;
        box-sizing: border-box !important;
        /* width: 90% !important; */
    }
    .form-control:focus
    {
        border: 1px #2C3E50 solid !important;
    }
   
    .ps_eye i
    {
        color: #4CA1AF;        
        text-align: left;
        font-size: 20px;        
        /* margin-left: -50px; */
        margin-top: 10px;
        cursor: pointer;
    }
    .ps_eye i:hover
    {
        color: #2C3E50;
    }
    .button {
        border-radius: 50px;
        
        border: none;
        color: #ecedef;
        text-align: center;
        font-size: 25px;
        padding: 2px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background: #2C3E50;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
      } 
      .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
        color: #ecedef;
      }
      
      .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
        color: #ecedef;
      }
      
      .button:hover span {
        padding-right: 25px;
        color: #ecedef;
      }
      
      .button:hover span:after {
        opacity: 1;
        right: 0;
        color: #ecedef;
      }
      .login-btn
      {
          color: #fff;
          padding: 3px 15px 3px 15px;
          font-size: 17px;
          background: #4CA1AF;
      }
      .login-btn:hover
      {
        text-decoration: none;
        color: #fff;
        background: #2C3E50;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
      .header_img
      {
          border: 0px red solid;
          height: 60px;
      }
      .header_main_logo
      {
        border: 0px red solid;        
        font-size: 35px;                  
      }
      .portfolio-bottom-text {
        position: fixed;
        /* padding: 5%; */
        bottom: 0;
        /* margin: 15px;         */
    }