<html>

<head>
    <title>Javascript Example</title>
    <script src="js/tmpl.min.js"></script>
</head>

<body>
    <div id="result"></div>
    <script type="text/x-tmpl" id="tmpl-demo">
        <h3>TITLE</h3>
        <p>Released under the
        <a href="{%=o.license.website%}">{%=o.license.name%}</a>.</p>
        <h4>{%=o.license.name%}</h4>
        <ul>
        {% for (var i=0; i<o.features.length; i++) { %}
        <li>{%=o.features[i]%}</li>
        {% } %}
        </ul>
    </script>
    <script>
        var data = {
            "title": "Hello World",
            "license": {
                "name": "MIT license",
                "url": "https://opensource.org/licenses/MIT",
                "website": "https://google.com"
            },
            "features": [
                "lightweight & fast",
                "powerful",
                "zero dependencies",
                "reak",
                "123"
            ]
        };
        document.getElementById("result").innerHTML = tmpl("tmpl-demo", data);
    </script>
</body>

</html>