<div class="side">
        <h2>Navigation Menu</h2>
        <ul class="navlink">
            <li>
                <a href="#">Link 1</a>
            </li>
            <li>
                <a href="#">Link 2</a>
            </li>
            <li>
                <a href="#">Link 3</a>
            </li>
            <li>
                <a href="#">Link 4</a>
            </li>
            <li>
                <a href="#">Link 5</a>
            </li>

        </ul>
</div>