* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 30px;
    text-align: center;
    background: #1cabc3;
    color: white;
  }

  /* Column container */
.row {  
    display: flex;
    flex-wrap: wrap;
    /* border: 2px red solid; */
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 25%;
    background-color: #f1f1f1;
    padding: 20px;
    border-right: 1px #1cabc3 solid;
  }
  .side h2
  {
      text-align: center;
  }

  .navlink
  {
    
  }
  .navlink
  {
    list-style: none;
  }
  .navlink li
  {
      padding: 10px;
  }
  .navlink li a
  {
      color: black;   
      text-decoration: none;   
  }

  /* Main column */
.main {
    flex: 75%;
    background-color: #f1f1f1;
    padding: 20px;
  }
/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  } 
  
  
  .image-wrapper {
    width: 200px;
    float: left;
    padding-right: 25px;
    padding-bottom: 10px;
}
.image-wrapper img {
    width: 100%;
}

.image-wrapper span {
    font-family: sans-serif;
    font-size: 10px;
    color: #ccc;
}

.article-meta {
    font-family: sans-serif;
    color: #aaa;
    font-size: 12px;
}
p {
    font-size: 14px;
}

  /* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #1cabc3;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }